$placeholderColor: rgb(82, 82, 82, .9);
$inactive: rgba(48, 105, 88, 0.3);
$filled: rgba(0, 105, 74, 0.5);
$hl: rgba(0, 105, 74, .9);
$hl2: rgba(26, 150, 113, 0.9);

$purp: rgb(162, 151, 170);

$heartred: rgb(236, 90, 90);


$compwidth: 90%;



// Actual
$bg: #6e5cc8;
$light: #bfb6ee;
$deep: #5c5ec8;
$intense: #6d82e2;
$grey: grey;
$grey2: #e8e8e8;
$gold: gold;
$amber: rgb(235, 133, 0);