@import "vars";

@media screen and (max-width: 480px) {
}

@media screen and (min-width: 480px) {

    .settings-container {

        div.settings-header {
            font-size: 50px;
            display: inline;
            margin-bottom: 30px;
        }
        
        div.settings-item {

            width: 50%;
            
            span.settings-label {
                font-size: 32px;
            }

            span.settings-value-inner {
                font-size: 38px;
            }
        }
    }
}

.settings-container {
    padding: 0px;
    margin: 18%;
    margin-top: 30px;

    .settings-header {
        font-size: 20px;
        border-bottom: 3px solid $light;
        padding-bottom: 4px;
        display: block;
    }

    .settings-control-panel {
        padding: 0px;
        margin-top: 40px;
    }

    .settings-item {
        display: grid;
        grid-template-columns: 3fr 1fr;
        width: 240px;
        margin-bottom: 20px;
    }

    .settings-label, .settings-value {
        font-size: 20px;
        display: inline;
        text-align: right;
        //background: $grey2;
    }

    .settings-label {
        font-size: 17px;
        text-align: left;
    }

    .settings-value-inner {
        padding: 8px;
        border-radius: 15px;
    }

    .settings-on {
        background: $light;
        color: $intense;
    }

    .settings-off {
        background: $grey2;
    }

}